@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
	box-sizing: border-box;
	/* border: 1px solid red !important; */
}

body {
	background: url('https://images.unsplash.com/photo-1598620617148-c9e8ddee6711?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
		no-repeat center center/cover fixed;
	color: #444;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
	position: relative;
}

h1 {
	font-size: 160px;
	text-align: center;
	opacity: 0.85;
	position: absolute;
	top: -50px;
	color: #4391d2;
}

small {
	color: #444;
	font-size: 16px;
	text-align: center;
}

.input-field {
	position: absolute;
	top: 40%;
	text-align: center;
}

form {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	max-width: 100%;
	width: 400px;
}

.input {
	border: none;
	color: #444;
	font-size: 32px;
	padding: 16px 32px;
	display: block;
	width: 100%;
}

.input::placeholder {
	color: #d5d5d5;
	text-align: center;
}

.input:focus {
	color: #444;
	text-align: center;
}

.todos {
	background-color: #fff;
	padding: 0;
	list-style-type: none;
	margin: 0;
}

.todos li {
	border-top: 1px solid #e5e5e5;
	cursor: pointer;
	font-size: 24px;
	padding: 16px;
}

.todos li.completed {
	color: #b6b6b6;
	text-decoration: line-through;
}
