.game {
	width: 400px;
	height: 600px;
	position: relative;
	background-color: bisque;
	font-size: 64px;
	text-align: center;
}

.jumper {
	width: 60px;
	height: 85px;
	background-color: red;
	position: absolute;
	z-index: 1000000;
}

.platform {
	width: 85px;
	height: 15px;
	background-color: green;
	position: absolute;
}
